<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<body>
    <form action="{% url 'index' %}" method="POST" enctype="multipart/form-data">
        <div class="filename__block">
            <label for="{{form.file_name.id_for_label}}">File Name:</label>
            {{form.file_name}}
        </div>
        <div class="file__upload__block">
            <label for="{{form.files.id_for_label}}">Upload your files:</label>
            {{form.files}}
        </div>
        {% csrf_token %}
        <button type="submit">Submit</button>
    </form>
    <a href="{% url 'show_data' %}">Click</a>
</body>
</html>